<div class="user-edit-homebox">
  <div class="user-header">
    <div class="user-header-headline">Kissan/Junkissan</div>
  </div>
  <div class="user-edit-vacant-before-mather"></div>
  <div class="edit-space-matherbox-for-login">
    <div class="vacant-before-icon"></div>
    <div class="user-mather-icon"></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.email_field :email, :placeholder => "email", autofocus: true, autocomplete: "email", class:"user-each-textbox" %>
        <%= f.password_field :password, :placeholder => "パスワード", autocomplete: "current-password", class:"user-each-textbox" %>
        <div class="edit-matherbox">
          <%= f.submit "Login", :class => "edit-submit" %>
        </div>
    <% end %>

  </div>
</div>
