<div class="user-show-homebox">
  <header>
    <div class="header-title">Kissan/Junkissan</div>

    <div class="header-submenu">
      <div class="header-submenu-icon-back" onclick="clickBtn3()" >
        <% if user_signed_in? %>
          <% if current_user.image == nil %>
            <%= image_tag "no-image-photo.png", class:"no-image-icon" %>
          <% else %>
            <%= image_tag current_user.image_url, class:"header-submenu-icon", size: "50x50"  %>
          <% end %>
        <% else %>
          <%= image_tag "no-image-photo.png", class:"no-image-icon" %>
        <% end %>
        <div id="p3" class="header-hide-box">
          <div class="header-hide-eachbox">
            <% if user_signed_in? %> 
              <%= link_to "マイページへ", user_path(current_user.id) %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path %>
            <% end %>
          </div>
          <div class="header-hide-eachbox">
            <% if user_signed_in? %> 
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
          <div class="header-hide-eachbox">
            <%= link_to "top", root_path %>
          </div>
          <div class="header-hide-eachbox">
          <% if user_signed_in? %>        
            <%= link_to "編集", edit_user_registration_path %>
          <% end %>
          </div>
        </div>
        
      </div>
      <%= link_to  new_post_path do %>
        <div class="header-submenu-button">
          <div class="header-submenu-button-writing">
            <i class="fas fa-pen icon"></i>
            喫茶店登録
          </div>
        </div>
      <% end %>
    </div>
  </header>
  <div class="user-show-matherbox">
    <div class="user-show-vacantbox"></div>
    <div class="user-show-iconbox">
      <%= image_tag @user.image_url, class:"user-show-icon", size: "100x100" if @user.image? %>
    </div>
    <div class="user-show-namebox">
      <div class="user-show-name">
        <%= @user.name %>
      </div>
      <div class="user-show-instagrambox">
        <div class="user-show-instagram-icon">
          <i class="fab fa-instagram instagram-icon"></i>
        </div>
        <div class="user-show-instagram-username">
          7nagai_harappa8
        </div>
      </div>
    </div>
    <div class="user-show-underline"></div>
    <div class="new-kissan-text">お気に入り</div>
    <div class="new-kissan-contents">
      <% @userlikes.each do |n| %>
        <a href="/posts/<%= n.post.id %>">
          <div class="new-kissan-content">
            <div class="new-kissan-content-image-back">
              <%= image_tag n.post.image_url, class:"new-kissan-content-image", size: "245x210" if n.post.image? %>
            </div>
            <div class="new-kissan-content-text">
              <%= n.post.name %>
              <div class="new-kissan-heart-box">
                <i class="far fa-heart heart-icon"></i><%= n.post.likes.count %>
                <i class="far fa-comment comment-icon"></i><%= n.post.comments.count %>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
    <div class="new-kissan-pagenation">
      <%= paginate @userlikes %> 
    </div>
    <div class="new-kissan-pagenation"></div>
    <div class="new-kissan-text">レビュー・体験記</div>
    <div class="new-review-contents">
      <% @usercomments.each do |n| %>
        <div class="new-review-bigbox">
          <div class="new-review-information">
            <div class="new-review-information-image">
              <%= image_tag n.user.image_url, class:"review-user-icon", size: "35x35" if n.user.image? %>
            </div>
            <a href="/posts/<%= n.post.id %>"><%= n.post.name %></a>
          </div>

          <div class="new-review-content-text-matherbox">
            <div class="new-review-content-text">
              <%= n.content %>
            </div>
            <%= image_tag n.image_url, class:"new-review-content-image", size: "100x100" if n.image? %>
          </div>
          <div class="comment-nices">
            <% if user_signed_in? %>
                <% if current_user.already_niced?(n) %>
                  <%= link_to comment_nice_path(id: n.id, comment_id: n.id), method: :delete do %>
                      <i class="fas fa-heart"></i><%=n.nices.count %>
                  <% end %>
                <% else %>
                  <%= link_to comment_nices_path(id: n.id, comment_id: n.id), method: :post do %>
                      <i class="far fa-heart"></i><%= n.nices.count %>
                  <% end %>
                <% end %>
            <% else %>
                <i class="far fa-heart"></i><%= n.nices.count %>
            <% end %>
          </div>
        </div>
        <div class="new-review-vacantbox"></div>
        <div class="new-review-line"></div>
      <% end %>
    </div>
    <div class="new-review-pagenation">
        <%= paginate @usercomments %>
    </div>

  </div>
</div>
<footer>
  <div class="footer-vacantbox"></div>
  <div class="junkissan-box">Kissan/Junkissan</div>
  <div class="junkissan-headline">未知の世界はすぐそこに。</div>
  <div class="junkissan-snsbox">
    <div class="junkissan-share">Share .</div>
    <div class="junkissan-sns">
      <i class="fab fa-twitter twitter"></i>
      <i class="fab fa-facebook-f facebook"></i>
      <i class="fab fa-instagram instagram"></i>
    </div>
  </div>
  <div class="junkissan-copyright">© 2021 Kissan/Junkissan All Rights Reserved</div>
</footer>

      <script>

      document.getElementById("p3").style.visibility ="hidden";
      
      
      function clickBtn3(){
        const p3 = document.getElementById("p3");
        
      
        if(p3.style.visibility=="visible"){
      
          p3.style.visibility ="hidden";
        }else{
      
          p3.style.visibility ="visible";
        }
      
      }
      
      
      </script>

