
<div class="newpage-homebox">
  <header>
    <div class="header-title">Kissan/Junkissan</div>

    <div class="header-submenu">
      <div class="header-submenu-icon-back" onclick="clickBtn3()" >
        <% if user_signed_in? %>
          <% if current_user.image == nil %>
            <%= image_tag "no-image-photo.png", class:"no-image-icon" %>
          <% else %>
            <%= image_tag current_user.image_url, class:"header-submenu-icon", size: "50x50"  %>
          <% end %>
        <% else %>
          <%= image_tag "no-image-photo.png", class:"no-image-icon" %>
        <% end %>
        <div id="p3" class="header-hide-box">
          <div class="header-hide-eachbox">
            <% if user_signed_in? %> 
              <%= link_to "マイページへ", user_path(current_user.id) %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path %>
            <% end %>
          </div>
          <div class="header-hide-eachbox">
            <% if user_signed_in? %> 
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
          <div class="header-hide-eachbox">
            <%= link_to "top", root_path %>
          </div>
          <div class="header-hide-eachbox">
          <% if user_signed_in? %>        
            <%= link_to "編集", edit_user_registration_path %>
          <% end %>
          </div>
        </div>
        
      </div>
      <%= link_to  new_post_path do %>
        <div class="header-submenu-button">
          <div class="header-submenu-button-writing">
            <i class="fas fa-pen icon"></i>
            喫茶店登録
          </div>
        </div>
      <% end %>
    </div>
  </header>
  <div class="new-vacantbox"></div>
  <div class="new-explanation-matherbox">
    <div class="new-explanation-headline">喫茶店を登録</div>
    <div class="new-explanation-content">
      施設登録にご協力くださり誠にありがとうございます。<br>
      入力項目が多数あるので、書ける範囲でかまいません。<br>
      一度登録した施設は誰でも編集可能です。<br>
      既に同じ施設が登録されていないか今一度ご確認ください。
    </div>
  </div>
  <%= form_for(@post, url:posts_path) do |f| %>
    <div class="new-base-information-matherbox">
      <div class="new-base-information-headline">基本情報</div>
      <div class="new-base-information-vacantbox"></div>
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :喫茶店名 %>
          </div>
          <%= f.text_field :name, id: 'address', class:"new-textfield", :size => 75 %>
          <input type="button" value="&#xf002;" class="fas" onclick="codeAddress()">
        </div>
        <div id="latlngDisplay"></div>
        <div id="addressDisplay">住所</div>
        <div id='map'></div>  
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :都道府県 %>
          </div>
          <%= f.text_field :prefecture, class:"new-textfield", :size => 75 %>
        </div>
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :住所 %>
          </div>
          <%= f.text_field :address, class:"new-textfield", :size => 75 %>
        </div>
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :最寄り駅 %>
          </div>
          <%= f.text_field :nearest_station, class:"new-textfield", :size => 75 %>
        </div>
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :TEL %>
          </div>
          <%= f.text_field :tel, class:"new-textfield", :size => 75 %>
        </div>
        <div class="new-base-information-name-matherbox">
          <div class="new-base-information-name">
            <%= f.label :HP %>
          </div>
          <%= f.text_field :hp, class:"new-textfield", :size => 75 %>
        </div>
    </div>
    <div class="new-koumoku-matherbox">
      <div class="new-base-information-headline">項目</div>
      <div class="new-kooumoku-minibox">
        <div class="new-kooumoku-eachbox">
          <%= f.label :wifi, "wifi" %>
          <%= f.radio_button :wifi, "wifi" ,onclick:"radioDeselection1(this, 1)" %>
        </div>
        <div class="new-kooumoku-eachbox">
          <%= f.label :電源 %>
          <%= f.radio_button :outlet, "電源" ,onclick:"radioDeselection2(this, 2)" %>
        </div>
        <div class="new-kooumoku-eachbox">
          <%= f.label :デザート %>
          <%= f.radio_button :dessert, "デザート" ,onclick:"radioDeselection3(this, 3)" %>
        </div>
        <div class="new-kooumoku-eachbox">
          <%= f.label :ランチメニュー %>
          <%= f.radio_button :lunch, "ランチメニュー" ,onclick:"radioDeselection4(this, 4)" %>
        </div>
        <div class="new-kooumoku-eachbox-forsnack">
          <%= f.label :軽食（サンド等） %>
          <%= f.radio_button :snack, "軽食" ,onclick:"radioDeselection5(this, 5)" %>
        </div>
        <div class="new-kooumoku-eachbox">
          <%= f.label :たばこ %>
          <%= f.radio_button :tobacco, "たばこ" ,onclick:"radioDeselection6(this, 6)" %>
        </div>
        <div class="new-kooumoku-eachbox">
          <%= f.label :駐車場 %>
          <%= f.radio_button :parking, "駐車場" ,onclick:"radioDeselection7(this, 7)" %>
        </div>
      </div>
    </div>
    <div class="new-image-matherbox">
      <div class="new-base-information-headline">写真</div>
      <div class="new-image-minibox">
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image ,class:"image-image-image" %>
            <div class="image-number">トップ</div>
          </label>
        </div>
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image_two ,class:"image-image-image" %>
            <div class="image-number">2枚目</div>
          </label>
        </div>
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image_three ,class:"image-image-image" %>
            <div class="image-number">3枚目</div>
          </label>
        </div>
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image_four ,class:"image-image-image" %>
            <div class="image-number">4枚目</div>
          </label>
        </div>
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image_five ,class:"image-image-image" %>
            <div class="image-number">5枚目</div>
          </label>
        </div>
        <div class="new-image-eachbox">
          <div class="new-image-eachbox-image">
          </div>
          <label class:"label">
            <i class="fas fa-plus-square plus-icon"></i>
            <%= f.file_field :image_six ,class:"image-image-image" %>
            <div class="image-number">6枚目</div>
          </label>
        </div>
      </div>
    </div>
    <div class="vacant-before-new-submit-button"></div>
    <%= button_tag type: "submit" do %>
      <i class="fas fa-pen plus-for-submit-button"></i>
    <% end %>
  <% end %>
</div>
<footer>
  <div class="footer-vacantbox"></div>
  <div class="junkissan-box">Kissan/Junkissan</div>
  <div class="junkissan-headline">未知の世界はすぐそこに。</div>
  <div class="junkissan-snsbox">
    <div class="junkissan-share">Share .</div>
    <div class="junkissan-sns">
      <i class="fab fa-twitter twitter"></i>
      <i class="fab fa-facebook-f facebook"></i>
      <i class="fab fa-instagram instagram"></i>
    </div>
  </div>
  <div class="junkissan-copyright">© 2021 Kissan/Junkissan All Rights Reserved</div>
</footer>

<script>

  var remove1 = 0;

  function radioDeselection1(already, numeric) {
    if(remove1 == numeric) {
      already.checked = false;
      remove1 = 0;
    } else {
      remove1 = numeric;
    }
  }

  var remove2 = 0;

  function radioDeselection2(already, numeric) {
    if(remove2 == numeric) {
      already.checked = false;
      remove2 = 0;
    } else {
      remove2 = numeric;
    }
  }

  var remove3 = 0;

  function radioDeselection3(already, numeric) {
    if(remove3 == numeric) {
      already.checked = false;
      remove3 = 0;
    } else {
      remove3 = numeric;
    }
  }

  var remove4 = 0;

  function radioDeselection4(already, numeric) {
    if(remove4 == numeric) {
      already.checked = false;
      remove4 = 0;
    } else {
      remove4 = numeric;
    }
  }

  var remove5 = 0;

  function radioDeselection5(already, numeric) {
    if(remove5 == numeric) {
      already.checked = false;
      remove5 = 0;
    } else {
      remove5 = numeric;
    }
  }

  var remove6 = 0;

  function radioDeselection6(already, numeric) {
    if(remove6 == numeric) {
      already.checked = false;
      remove6 = 0;
    } else {
      remove6 = numeric;
    }
  }

  var remove7 = 0;

  function radioDeselection7(already, numeric) {
    if(remove7 == numeric) {
      already.checked = false;
      remove7 = 0;
    } else {
      remove7 = numeric;
    }
  }

</script>

      <style>
            #map {
              height: 510px;
              width: 150px;
            }
            #latlngDisplay {
              display: none;
            }
      </style>
      
      
      <script>
      let map
      
      const latlngDis = document.getElementById('latlngDisplay')
      const addressDis = document.getElementById('addressDisplay')
      
      function initMap(){
        geocoder = new google.maps.Geocoder()
      
        tokyo = {lat: 35.6803997, lng: 139.7690174}
      
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.6803997, lng: 139.7690174},
          zoom: 15,
        });
      
        marker = new google.maps.Marker({
          position: {lat: 35.6803997, lng: 139.7690174},
          map: map
        });
      }
      
      let geocoder
      const display = document.getElementById('display')
      
      
      function codeAddress(){
        const inputAddress = document.getElementById('address').value;
      
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            latlngDis.innerHTML = results[0].geometry.location;
      
            geocoder.geocode({ 'location': marker.getPosition()}, function(results, status) {
              if (status == "OK"){
                addressDis.innerHTML = results[0].formatted_address;
              } else {
                alert("Geocode 取得に失敗しました：" + status);
              }
            });
      
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });   
      }
      
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap" async defer></script>

      <script>

      document.getElementById("p3").style.visibility ="hidden";
      
      
      function clickBtn3(){
        const p3 = document.getElementById("p3");
        
      
        if(p3.style.visibility=="visible"){
      
          p3.style.visibility ="hidden";
        }else{
      
          p3.style.visibility ="visible";
        }
      
      }
      
      function doReload() {
 
    
        removeDataById(map)
        removeDataById(latlngDisplay)
        removeDataById(addressDisplay)
      }

      window.setTimeout(doReload, 5000);
      
      </script>

    



      

      
      