<div class="user-edit-homebox">
  <div class="user-header">
    <div class="user-header-headline">Kissan/Junkissan</div>
  </div>
  <div class="user-edit-vacant-before-mather"></div>
  <div class="edit-space-matherbox">
    <div class="user-vacant-before-mathericon"></div>
    <div class="user-mather-icon">
      <%= image_tag current_user.image_url, class: "user-edit-icon", size: "50x50" if current_user.image? %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.text_field :name, :placeholder => "ユーザーネーム", autofocus: true, autocomplete: "name", class:"user-each-textbox" %>
      <%= f.email_field :email, :placeholder => "email", autofocus: true, autocomplete: "email", class:"user-each-textbox" %>
      <%= f.text_field :instagram, :placeholder => "instagram(任意)",  class:"user-each-textbox" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", :placeholder => "新規パスワード", class:"user-each-textbox" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "現在のパスワード", class:"user-each-textbox" %>
      <div class="edit-matherbox">
        <%= f.submit "Update", :class => "edit-submit" %>
      </div>
    <% end %>

  </div>
</div>

